* {
    font-family: 'Poppins';
    font-style: bold;
}
a {
    color: white
}
h1 {
    color: red;
}

.titulo {
    font-size: 2em;
    color: white;
    text-decoration: 0;
    font-weight: 600;
}

.fondo {
    background-image: url(./imagenes/fondo.jpg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.pagina-principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    height: 80vh;
}

.cuerpo-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo{
    margin-top: 16px;
    color: gray;
    font-size: 20px;
    margin-bottom: 16px;
}
.subtitulo img{
    margin-left: 32px;
    margin-right: 32px;
}
.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.autosprincipales{
    display: flex;
}

@media (max-width: 600px) {
    .autosprincipales {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .auto-principal-1{
        grid-area: 1 / 1 / 3 / 3;
    }

    .auto-principal-2{
        grid-area: 1 / 3 / 3 / 5;
    }

    .auto-principal-3{
        grid-area: 3 / 2 / 5 / 4;
        width: 100%;
    }
}

.autosprincipales img {
    width: 30vw;
    margin: 10px;
    border-radius: 5px;
}

.notificacion{
    position: absolute;
    top: 50px;
    right: 50px;
    height: 40px;
}
.recomendados-titulos{
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 90vw;
}
.recomendados-titulos span:nth-child(1){
    color: black;
}
.recomendados-titulos span:nth-child(2){
    color: gray;
}
.autosrecomendados{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-top: 8px;
    width: 90vw;
}

.auto-item:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.auto-item:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.auto-item:nth-child(3) { grid-area: 1 / 3 / 2 / 4; }
.auto-item:nth-child(4) { grid-area: 2 / 1 / 3 / 2; }
.auto-item:nth-child(5) { grid-area: 2 / 2 / 3 / 3; }
.auto-item:nth-child(6) { grid-area: 2 / 3 / 3 / 4; }

@media (max-width: 600px) {
    .autosrecomendados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    .auto-item:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    .auto-item:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
    .auto-item:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
    .auto-item:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
    .auto-item:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
    .auto-item:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }
}

.auto-item{
    display: flex;
    flex-direction: column;
    text-decoration: 0;
    width: 100%;
}
.auto-item img{
    width: 100%;
    border-radius: 5px;
}
.nombre-auto{
    margin-top: 8px;
    font-size: 1.5em;
    color: black;
}
.precio-auto{
    font-size: 1em;
    color: gray;
}
.pagina-texto {
    color: red;
    font-size: 2em;
    margin-left: 8px;
    text-decoration: none;
}
.pagina-seleccionada {
    background-color: red;
    color: white;
    font-size: 2em;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    text-decoration: none;
}

.pagina-texto2{
    background-color: red;
    color: white;
    font-size: 2em;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    text-decoration: none;
}
.pagina-seleccionada2{
    color: red;
    font-size: 2em;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    text-decoration: none;
}
.filtrarautos{
    width: 25vw;
    height: 200px;
    background-color: red;
    margin-left: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.cuadrado {
    color: white;
    font-size: 20px;
}
.bmwdescrip img{
    border-radius: 5px;
    width: 30vw;
    margin: 10px;
}
.mpack{
    font-size: 25px;
}
.preciobm{
    font-size: 25px;
    text-decoration: underline;
}
.bmboton{
    font-size: 30px;
    margin-right: 74vw;
}
.textogrande{
    font-size: 20px;
}
.auto-principal-1:hover{
    transform: scale(1.1)
}
.auto-principal-2:hover{
    transform: scale(1.1)
}
.auto-principal-3:hover{
    transform: scale(1.1)
}
.auto-item:hover{
    transform: scale(1.1);
} 





